<!-- Título de la lista de tareas -->
<h2 class="mt-4 text-center text-primary">Lista de Tareas</h2>

<!-- Tarjeta con fondo color primario para la tabla de tareas -->
<div class="card bg-light mb-4">
  <div class="card-body">
    <!-- Tabla con bordes y sombras para mejorar la visualización -->
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha</th>
        <th scope="col">Completada</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <!-- Iterar sobre las tareas y mostrar los datos -->
      <tr *ngFor="let tarea of datoslistas">
        <td [ngClass]="{'completada': tarea.completada}">{{ tarea.id }}</td>
        <td [ngClass]="{'completada': tarea.completada}">{{ tarea.nombre }}</td>
        <td [ngClass]="{'completada': tarea.completada}">{{ tarea.categoria }}</td>
        <td [ngClass]="{'completada': tarea.completada}">{{ tarea.descripcion }}</td>
        <td [ngClass]="{'completada': tarea.completada}">{{ tarea.fecha | date: 'dd-MM-yyyy' }}</td>
        <td>
          <!-- Botón para marcar la tarea como completada o incompleta -->
          <button
            class="btn"
            [ngClass]="{'btn-success': tarea.completada, 'btn-warning': !tarea.completada}"
            (click)="cambiarEstadoTarea(tarea)">
            {{ tarea.completada ? 'Completada' : 'Pendiente' }}
          </button>
        </td>
        <td>
          <!-- Botón para eliminar la tarea -->
          <button class="btn btn-danger btn-sm" (click)="eliminarTarea(tarea.id)">Eliminar</button>
          <!-- Botón para editar la tarea -->
          <button class="btn btn-warning btn-sm" [routerLink]="['/editar', tarea.id]">Editar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="col-lg-6">
      <button routerLink="/" type="button" class="btn btn-secondary m-sm-1">Volver</button>
    </div>
  </div>
</div>
