<div>
<div class="contenedor-form">

    <div class="card text-white mb-3 form-container">
     <h2 class="card-header text-center">Editar Tarea</h2>
       <div class="card-body">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" formControlName="descripcion" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="categoria">Categoría</label>
            <input type="text" id="categoria" formControlName="categoria" class="form-control">
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" formControlName="fecha" class="form-control">
          </div>
          <div class="d-flex flex-row fle mt-2 text-center">
            <div class="col-lg-6">
              <button type="submit" class="btn btn-dark m-sm-1 boton-volver" [disabled]="formulario.invalid">Guardar Cambios</button>
            </div>
            <div class="col-lg-6">
              <button routerLink="/listar" type="button" class="btn btn-secondary m-sm-1 boton-volver">Volver</button>
            </div>
          </div>
        </form>
       </div>
    </div>
  </div>
</div>
