

<!-- Home Page Content -->
<div class="container border-0 d-flex flex-column justify-content-center align-items-center">
  <!-- Carousel -->
  <div id="taskCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mt-5 mb-5 border-0">
          <div class="card-body">
            <h1 class="card-title text-uppercase text-center custom-title ">NOTAPP</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Welcome Card -->
  <div class="card m-0 mb-3 custom-div w-75">
    <h3 class="card-header text-center">Bienvenido</h3>
    <div class="card-body">
      <h5 class="card-title text-black">Lista de tareas</h5>
      <p>¡Organiza tu vida de manera eficiente con nuestra plataforma de gestión de tareas! Aquí podrás crear, gestionar y realizar un seguimiento de todas tus tareas pendientes de manera fácil y rápida. Ya sea para tu día a día personal o para proyectos de trabajo, nuestra herramienta está diseñada para ayudarte a mantenerte enfocado y ser más productivo.</p>
    </div>

    <!-- Action Cards -->
    <div class=" contenedor-cartas">
      <!-- Primera tarjeta: Crear nueva tarea -->
      <div class="card cartas">
        <div class=" ">
          <!--<div class="card-header">¡Organízate!</div>-->
          <div class="card-body">
            <h5 class="card-title">Crear Nueva Tarea</h5>
            <!--<p class="card-text ">Accede a crear tus tareas.</p>-->
            <a [routerLink]="['/crearLista']" class="btn btn-warning mt-2">Crear Evento</a>
          </div>
        </div>
      </div>

      <!-- Segunda tarjeta: Ver tareas pendientes -->
      <div class="card cartas">
        <div class=" ">
          <!--<div class="card-header">¡Ver tus pendientes!</div>-->
          <div class="card-body">
            <h5 class="card-title">Ver Tareas Pendientes</h5>
            <!--<p class="card-text">Accede a todas tus tareas.</p>-->
            <a [routerLink]="['/listar']" class="btn btn-warning mt-2">Ver Tareas</a>
          </div>
        </div>
      </div>

    </div> <!-- Fin de row -->
  </div> <!-- Fin de Welcome Card -->
</div> <!-- Fin de container -->
